# Kredensial Database Supabase (PostgreSQL)
# Format Connection String URI: postgresql://[user]:[password]@[host]:[port]/[database]
# Contoh: postgresql://postgres.xxxxxx:your-password@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
DATABASE_URL=postgresql://postgres.ajmmptfercczkdakhfzr:Nanda$Renta1@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
